.board {
  display: flex;
  grid-row: 100px;
  justify-content: space-around;
}

.cup {
  border: 1px black solid;
  font-size: 33px;
  padding: 20px;
  display: flex;
}

.basket {
  border: red 3px solid;
  position: absolute;
  height: 180px;
  padding: 40px
}

.right {
  right: 0;
  top: 0;
}

.left {
  left: 0; 
}

.bottom {
  flex-direction: row-reverse;
}